.footer {
    background-color: var(--vDViolet);
    color: #fff;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    
  }
  
  .logo {
    font-size: 24px;
    margin-bottom: 7rem;
    width: 20%;
    font-weight: 700;
  }
  
  .links {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }
  
  .footer h4 {
    margin-bottom: 10px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 5px;
  }
  
  .footer ul a {
    color: #fff;
    text-decoration: none;
  }

  .footer ul a:hover {
    color: var(--cyan);
  }
  
  .socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 7rem;
  }
  
  .socials a {
    color: #fff;
    text-decoration: none;
  }

  .icon:hover svg path {
    fill: var(--cyan); 
  }

  @media (max-width: 1000px) {
    .footer {
      flex-direction: column;
      text-align: center;
      gap: 0
    }

    .links {
      flex-direction: column;
      gap: 0;
    }

    .links a {
      margin: 0 auto
    }

    .logo {
      margin: 0;
    }

    .socials {
      margin: 1rem;
      gap: .5rem;
    }

    .footer h4 {
      font-size: 20px;
    }
  }  
  