*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --cyan: hsl(180, 66%, 49%);
  --dViolet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --gViolet: hsl(257, 7%, 63%);
  --vDBlue: hsl(255, 11%, 22%);
  --vDViolet: hsl(260, 8%, 14%);
}

button {
  background-color: #2acfcf;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 700;
}